form {
  ul {
    width: 50%;
    list-style: none;
    li {

      label {
        float: left;
        margin: {
          right: 10px;
        }
        width: 200px;
        text-align: right;
      }

      input {
      }
    }
  }
}
